body {
  overflow:hidden;
  background-color: rgb(238, 238, 238);
  font-family: 'Roboto-Light', sans-serif;
}

h2 {
  font-size:70px;
}

#header {
  background-color: rgb(245, 91, 115);
  text-align:center;
  padding:1px;
  padding-bottom: 10px;
}

#section {
  /*position:absolute;*/
  margin-left: 14%;
  height:100%;
  margin-top: 8%;
  position: absolute;
}

#extension {
  height: 200px;
  background-color: #FF75E3;
  display: none;
}


#text {
  float left;
  /*background-color: #FF75E3;*/
  position: absolute;
  margin-left: 2%;
  margin-top: 10%;
}

#section2 {
  background-color: rgb(62, 70, 74);
  width:100%;
  height:33%;
  position:absolute;
  margin-left:50%;
  display: table;
  height: 220px;
  overflow: hidden;
}

#section3 {
  background-color: rgb(50, 57, 61);
  width:100%;
  height:33%;
  position:absolute;
  margin-left:50%;
  margin-top:15%;
  display: table;
  height: 220px;
  overflow: hidden;
}

#section4 {
  background-color: rgb(47, 51, 54);
  width:100%;
  height:33%;
  position:absolute;
  margin-left:50%;
  margin-top:30%;
  display: table;
  height: 220px;
  overflow: hidden;
}

#image {
  height: 60%;
  width: 25%;
  text-align: center;
}

.center-text {
  display: table-cell;
  vertical-align: middle;
}
