body {
  overflow:hidden;
  background-color: rgb(238, 238, 238);
  font-family: 'Roboto-Light', sans-serif;
}

h2 {
  font-size:70px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#header {
  background-color: rgb(245, 91, 115);
  text-align:center;
  padding:1px;
  padding-bottom: 10px;
  padding-top: 10px;
  width:100%;
  position:absolute;
}

#section {
  /*position:absolute;*/
  margin-left: 50%;
  height:100%;
  margin-top: 27%;
  position: absolute;
}

#extension {
  height: 200px;
  background-color: #FF75E3;
  display: none;
}

#text {
  float left;
  /*background-color: #FF75E3;*/
  position: absolute;
  margin-left: 2%;
  margin-top: 10%;
}

#section2 {
  width:100%;
  height:30%;
  position:absolute;
  margin-left:50%;
  margin-top:84px;
  display: table;
  overflow: hidden;
}

.box-with-text {
  position: relative;
  top: 0;
}

.text {
  margin-top: -13px;
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  white-space: nowrap;
}

#image {
  height: 80%;
  width: 70%;
  text-align: center;
}

.center-text {
  display: table-cell;
  vertical-align: middle;
}

.centering-container {
  position: relative;
}

.centering-container .v-centered {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  white-space: nowrap;
  display: block;
  width: 100%;
}

.number-with-units .big-text {
  font-size: 3em;
  display: block;
  width: 100%;
}

.number-with-units .description {
  font-size: 0.7em;
  text-transform: uppercase;
  display: block;
  width: 100%;
}
